<tr>
  <td><%= link_to admin_question_path(gist.question), truncate(gist.question.body, length: 25) %></td>
  <td><%= link_to gist.url, gist.url.to_h, target: '_blank' %></td>
  <td><%= gist.user.email %></td>
</tr>