<footer class="footer">
  <small>
     <%= link_to 'TestGuru', github_url('captain-vk', 'TestGuru') %>
    by <%= link_to 'captain-vk','/about/author' %>
  </small>
  <nav>
    <ul>
      <li><a href="http://Thinknetica.com/">Учебный проект в онлайн-школе Thinknetica</a></li>
      <li><%= current_year %></li>      
    </ul>
  </nav>
</footer>